.globeWrapper {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: grab;
}

.globeWrapper:active {
    cursor: grabbing;
}